# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore muduo-master directory
muduo-master/

# Ignore .vscode directory
.vscode/

# Ignore /home/zrc/Json_Rpc/build/release-cpp11 directory
build/release-cpp11/

# Ignore compressed files
*.tar.gz

# Ignore muduo directory
muduo/